.DS_Store
.sass-cache

public/
index.html
*.css

*.sublime-project
*.sublime-workspace

build
Desktop.ini
node_modules
bower_components
public

sftp-config.json
Thumbs.db

src/TEMP/
src/Logs/
src/Cached/
src/preview/
src/App_Data/logs/
src/npm-debug.log

*.log
